
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

    <div class="row mt-5">
        <div class="col-md-4">
            <img src="~/img/Button-Close-icon.png" class="w-100 img-fluid"/>
        </div>
        <div class="col-md-8 display-4">
            <p class="lead text-danger display-4">Bir hata oluştu.Teknik ekibimiz hatayla ilgileniyor.En kısa sürede çözüme ulaştırılacaktır.</p>
        </div>
    </div>

